<form action="/toMongo">
    <p>Марка авто</p>
    <input type="text" name="autoName">
    <p>Год выпуска</p>
    <input type="text" name="year">
    <p>Цена</p>
    <input type="number" name="price">
    <br>
    <input type="submit">
</form>

<div class="block1">
    <a href="/listOfCars">Список всех машин</a>
</div>